version: '3.8'

services:
  web:
    build: .
    image: yy3401/5-final-project-spring-2024-zuihouyige-web:latest
    ports:
      - "5001:5001"
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DBNAME=Flask
    depends_on:
      - mongo
    volumes:
      - .:/app

  mongo:
    image: mongo
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
