body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
    text-align: left; /* 如果你想让文字对齐看起来更整齐 */
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.btn-warning {
    background-color: #f0ad4e;
}

.btn-warning:hover {
    background-color: #ec971f;
}

.btn-danger {
    background-color: #d9534f;
}

.btn-danger:hover {
    background-color: #c9302c;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}
