.container {
    max-width: 800px;
    margin: auto;
    background: rgb(252, 210, 210);
    padding: 20px;
}

body {
    background: rgb(177, 176, 141);
}

h1 {
    text-align: center;
    font-family: Playfair Display;
    font-size: 54px;
    background-color:rgb(253, 171, 171);
    padding: 32px;
}

h2 {
    text-align: center;
    font-family: Josefin Sans;
    padding: 16px;
    border-radius: 12px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(225, 224, 224));
}

button, p {
    text-align: center;
    font-family: Josefin Sans;
}

button {
    border-radius: 16px;
    transition-duration: 0.5s;
    padding: 12px;
    font-size: 14px;

}

button:hover {
    background-color: yellowgreen;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.list-group {
    font-size: 32px;
    text-align: center;
}

.list-group-item {
    text-align: center;
    font-family: Josefin Sans;
    /* background-color: rgb(240, 237, 237); */
    padding: 16px;
    border-radius: 12px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(215, 213, 213))
}