body {
    font-family: 'Josefin Sans', sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
}

.list-group {
    list-style: none;
    padding: 0;
}

.recipe-card {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.recipe-card a {
    text-decoration: none;
    color: #333;
    display: block; /* Ensure that the link fills the card for better clickability */
    text-align: center;
}

.button, .back-form button {
    width: 100%;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #367C39;
}

p {
    text-align: center;
    font-size: 16px;
    color: #666;
}
