<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Recipe Confirmation</title>
    <link href="../static/css/delete.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
</head>
<body>
    <div class="container">
        <h2>Are you sure you want to delete this recipe?</h2>
        <p>This action cannot be undone.</p>
        <div class="button-group">
            <form action="/delete/{{ recipe._id }}" method="post">
                <button type="submit" class="button btn-danger">Yes, delete it</button>
            </form>
            <form action="/recipe/{{ recipe._id }}">
                <button type="button" class="button btn-secondary">Cancel</button>
            </form>
        </div>
    </div>
</body>
</html>
