<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <link href="../static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
</head>
<body>
    <div class="navbar">
        <button class="nav-button">Add New Recipe</button>
        <button class="nav-button">View Profile</button>
        <div class="search-container">
            <input type="text" placeholder="Search recipes...">
            <button class="search-button">Search</button>
        </div>
    </div>
    <div class="content">
        <h1>Recipe List</h1>
        <div class="recipe-container">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <a href="/recipe/{{ recipe._id }}">{{ recipe.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <p>© 2024 zuihouyige</p>
    </footer>
</body>
</html>
