<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <link href="../static/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
</head>
<body>
    <div class="container">
        <h2>Recipe List</h2>
        <div class="action-bar">
            <form action="/add" class="action-item">
                <button class="button primary">Add New Recipe</button>
            </form>
            <form action="/profile" class="action-item">
                <button class="button primary">View Profile</button>
            </form>
            <form action="/search" method="get" class="search-box">
                <input type="text" name="query" required="required" placeholder="Search recipes...">
                <button type="submit" class="button secondary">Search</button>
            </form>
        </div>
        <ul class="recipe-list">
            {% for recipe in recipes %}
                <li><a href="/recipe/{{ recipe._id }}" class="list-group-item list-group-item-action">{{ recipe.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
