<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="../static/css/home.css" rel="stylesheet"> <!-- 确保使用正确的CSS路径 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
</head>
<body>
    <div class="container">
        <h2>User Profile</h2>
        <div class="profile-details">
            <p><strong>Name:</strong> John Doe</p>
            <p><strong>Email:</strong> johndoe@example.com</p>
            <!-- 其他用户详细信息 -->
        </div>
        <div class="actions">
            <button class="button" onclick="location.href='/'">Back to Home</button>
        </div>
    </div>
</body>
</html>
