<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.name }}</title>
    <link href="../static/css/recipe.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
</head>
<body>
    <div class="container">
        <h2>{{ recipe.name }}</h2>
        <div class="recipe-details">
            <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
            <p><strong>Steps:</strong> {{ recipe.steps }}</p>
        </div>
        {% if recipe.photo %}
            <img src="data:image/png;base64,{{ recipe.photo|b64encode }}" alt="{{ recipe.name }}" class="recipe-image">
        {% endif %}
        <div class="button-group">
            <form action="/edit/{{ recipe._id }}" method="get">
                <button class="button edit">Edit</button>
            </form>
            <form action="/delete_confirmation/{{ recipe._id }}" method="post">
                <button type="submit" class="button delete">Delete Recipe</button>
            </form>
            <form action="/">
                <button class="button back">Back to List</button>
            </form>
        </div>
    </div>
</body>
</html>
