<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.name }}</title>
    <link href="../static/css/recipe.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun" >
</head>
<body>
    <div class="container mt-5">
        <h2>{{ recipe.name }}</h2>
        <p><strong>Ingredients:</strong></p>
        <p>{{ recipe.ingredients }}</p>
        <p><strong>Steps:</strong></p>
        <p>{{ recipe.steps }}</p>
        {% if recipe.photo %}
            <!-- Update this line to use the binary image data -->
            <img src="data:image/png;base64,{{ recipe.photo|b64encode }}" alt="{{ recipe.name }}" class="img-fluid">
        {% endif %}
        <form action="/edit/{{ recipe._id }}"><button class="btn btn-warning">Edit</button></form>
        <form action="/delete/{{ recipe._id }}" method="post" style="display: inline;">
            <button type="button" class="btn btn-danger" onclick="window.location.href='/delete_confirmation/{{ recipe._id }}'">Delete Recipe</button>

        </form>
        <form action="/" ><button class="btn btn-secondary">Back to List</button></form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>